@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Ubuntu:wght@400;500;700&display=swap");
.home-main {
  width: 100vw;
  height: auto;
  background-color: #fbfbf9;
}

#svgmain {
  transform: scale(1.5, 1.5);
  width: 50%;
  height: 100%;
  position: absolute;
  right: 12%;
  bottom: -6%;
  z-index: 5;
}
.sections {
  /* overflow-x: hidden; */
  width: 100vw;
  position: relative;
}

#section-1 {
  background-image: url("../../images/coverpage.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.75);
  height: 95vh;
  width: 100vw;
  position: relative;
}
.coverpage-img {
  z-index: 1;
  width: 100%;
  height: 100%;
}
.broad-heading {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  text-align: left;
  color: #ffffff;
}
.light-heading {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-top: 5%;
  color: #ffffff;
  text-align: left;
}
#section-2 {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#section1-inner {
  background: linear-gradient(
    293.01deg,
    rgba(247, 186, 37, 0.9) 1.28%,
    rgba(247, 186, 37, 0.747) 99.3%
  );
  z-index: 5;
  position: absolute;
  bottom: -10%;
  left: 10%;
  width: 550px;
  height: 300px;
}

#home-main-heading {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 7% 5% 0;
}

.subheading-home {
  text-align: right;
  font-size: 50px;
  /* position: absolute; */
  /* margin-top: 0%; */
  /* right: 10%; */
  padding-bottom: 2%;
  color: rgba(174, 114, 0, 1);
}

.section2-inner {
  overflow: hidden;
  /* background-color: #1dbdf7; */
  display: flex;
  flex-direction: column;
  /* margin-top: 10vh; */
  margin: 5% 10%;
}
.section-2main {
  display: flex;
  flex-direction: row;
}

.section2-content {
  width: 100%;
  height: 100%;
  padding-right: 5%;
}

/* --- Section 3 --- */
.section-3 {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
    justify-content: center;
}
.section3-inner {
  display: flex;
  flex-direction: row;
  padding: 5% 20%;
}

#rupee {
  /* transform: scale(0.8,0.8); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rupeedesktop{
  padding-right: 20px;
}
.rupeemobile{
  display: none;
}

.section3-content {
  width: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: justify;
}
.section3-content-main {
  font-size: 1.3rem;
}

.subheading3 {
  width: 80%;
  font-size: 50px;
  padding: 5% 0 2.5% 0;
  color: rgba(174, 114, 0, 1);
}
#mid-section {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mid-section-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 12%;
}
.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.element-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.statistics {
  padding-top: 8%;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  text-align: center;
  color: #3f3f3f;
}
.caption {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  width: 60%;
  height: 120px;
  /* or 125% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #6c6c6c;
}
@media only screen and (max-width: 768px) {
  #section-1{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #section1-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: static; */
    bottom: 0%;
    width:80%;
    height: 275px;
  }
  #home-main-heading{
    padding-top: 0;
    padding: 0% 5% 0 5%;
  }
  .rupeedesktop{
    display: none;
  }
  #rupee {
    position: absolute;
    bottom: 0%;
    /* transform: scale(0.5,0.5); */
    right: 5%;
    opacity: 0.3;
    width: fit-content;
    height: fit-content;
  }
  .rupeemobile{
    display: block;
  }

  .section3-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-align: center;
  }
  .section3-content{
  display: flex;
  flex-direction: column;
  align-items: center;
    justify-content: center;
  }
  .subheading-home {
    font-size: 30px;
    width: 100%;
    text-align: center;
  }
  .subheading3 {
    font-size: 30px;
    width: 80%;
    text-align: center;
  }

  .section3-content-main {
    padding: 0 5%;
    font-size: 1.1rem;
    text-align: center;
  }
  .mid-section-inner{
  flex-direction: column;
}
.element{
  margin:5% 0;
}
.element-image{
  transform: scale(0.55,0.55);
}
.statistics{
  padding-top: 0%;
font-size: 30px;
  line-height: 30px;
}
.caption{
  padding-top: 4%;
  height: fit-content;
  font-size: 16px;
  line-height: 20px;
}
}

/*-- Section 4 ---*/

#section-4 {
  height: fit-content;
  width: 100vw;
  padding: 5% 10%;
}
.section4-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.div-top {
  height: fit-content;
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-bottom {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: fit-content; */
}
#box4-1 {
  width: 40%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subdivsof4 {
  width: 50%;
  /* height: 100%; */
}
.subdivsof4-2 {
  width: 60%;
  height: 100%;
}
#content4-1 {
  position: absolute;
  padding: 10px;
  bottom: -10%;
  right: 3%;
  width: 60%;
  height: fit-content;
  background-color: #ffe0a6;
  text-align: left;
  border-radius: 5px;
  z-index: 2;
}
#subheading4-1 {
  font-size: 20px;
  color: rgba(149, 98, 0, 1);
  padding-bottom: 5px;
}
.linein4 {
  width: 40%;
  border-top: 2px solid;
  border-radius: 2px;
  padding: 5px 0px;
}
.line-one {
  color: rgba(149, 98, 0, 1);
}
.aboutapp4 {
  font-size: 15px;
}

.subheading4 {
  font-size: 50px;
  padding: 5% 0 2.5% 0;
  color: rgba(174, 114, 0, 1);
}
#box4-2 {
  padding: 5% 0% 0% 7%;
  padding-left: 0%;
  padding-top: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#content4-2 {
  text-align: left;
  font-size: 1.3rem;
  text-align: justify;
  z-index: 2;
  padding-left: 10%;
}
.subheading4-2{
  padding-top: 0%;
}

#box4-3 {
  width: fit-content;
  position: relative;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
#content4-3 {
  position: absolute;
  padding: 10px;
  bottom: 7%;
  right: -5%;
  width: 60%;
  height: fit-content;
  background-color: #c1eaff;
  text-align: left;
  border-radius: 5px;
  z-index: 2;
}
#subheading4-3 {
  font-size: 16px;
  color: rgba(0, 119, 178, 1);
  padding-bottom: 5px;
}

#line-sec {
  color: rgba(0, 119, 178, 1);
}

#box4-4 {
  position: relative;
  height: fit-content;
}
#content4-4 {
  position: absolute;
  padding: 10px;
  bottom: 0%;
  right: 15%;
  width: 45%;
  height: fit-content;
  background-color: #8e8ee0;
  text-align: left;
  border-radius: 5px;
}
#subheading4-4 {
  font-size: 16px;
  color: rgba(0, 0, 87, 1);
  padding-bottom: 5px;
}

#line-third {
  color: rgba(0, 0, 87, 1);
}

#HT2 {
  /* transform: scale(0.75, 0.75);
  -ms-transform: scale(0.75, 0.75);
  -webkit-transform: scale(0.75, 0.75); */
  /* position: absolute; */
  /* top: 0%; */
  padding-bottom: 10%;
}
.secion4-firstimage{
  width:375px;
  height:475px;
}
.secion4-secondimage{
  width:475px;
  height:550px;
  margin-right: 10%;
}
.secion4-thirdimage{
  width:375px;
  height:375px;
  margin-bottom: 10%;
}
#HT1 {
  /* padding-top: 5%;
  padding-left: 5%; */
  /* transform: scale(0.75, 0.75); */
}
#HT3 {
  /* padding-left: 5%; */
  /* transform: scale(0.75, 0.75); */
}
.HarnessTechCarousel{
  display: none;
  width: 100%;
}

@media only screen and (max-width: 1150px) {
  #section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: fit-content;
    width: 100vw;
    padding: 5%;
    width: 100vw;
    
  }
  .HarnessTechCarousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
  }
  #box4-1,
  #box4-3,
  #box4-4 {
    display: none;
  }
  .subheading4-2{
    font-size: 30px;
    width:100%;
    text-align: center;
  }
.div-top{
  width: 100%;
  display: block;
}
.subdivsof4{
  width: 100%;
}
  #box-2{
    width: 80%;
  }
  #content4-2 {
        padding: 0 5%;
        width: 100%;
    font-size: 1.1rem;
    text-align: center;
  }
  .section4-content-2{
    width: 100%;;
  }

}



/* Carousel */

.container-slider {
      max-width: fit-content;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;
    }

    .slide {
      opacity: 0;
      transition: opacity ease-in-out 0.4s;
      display: none;
    }
    .boxes__heading {
      padding: 2% 0%;
      /* font-family: "Roboto Flex";
      font-style: normal;
      font-weight: 1000; */
      font-size: 24px;
      line-height: 150%;
      text-align: center;
      letter-spacing: 0.1em;
      color: #474747;
    }
    .content-container{
      padding: 15px;
      gap: 10px;
      width:  335px;
      height: fit-content;
      background: #f5f5f5;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
    }
    .boxes__content {
      /* font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400; */
  padding: 15px;
  font-size: 16px;
  line-height: 32px;
      line-height: 150%;
      text-align: justify;
      letter-spacing: 0.03em;
      color: #474747;
    }

    .mobile-images{
      width: 335px;
      height: 406.11px;
      border-radius: 10px;
      padding-bottom: 5%;
      border-radius: 10px;
    }
    .boxes__vector-img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
    .active-anim {
      opacity: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 5% 8% 5%;
      border-radius: 10px;
    }

    .container-dots {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .btn-slide {
      background: none;
      border: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(247, 186, 37, 0.9) ;
    }
    .dot {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 3px solid #f1f1f1;
      margin: 0 5px;
      background: rgba(246, 210, 118, 0.9) ;
    }
    .dot.active {
      background: rgb(252, 182, 7) ;
    }