/* body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    top:10vh;
} */

/* p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
} */

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

/* .line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
} */

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.ourfirm-main {
  z-index: 1;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  z-index: 1;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #474747;
  color: #fff;
  transition: all 0.3s;
  /* margin-top: 9vh; */
  /* padding-top:30px; */
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #474747;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar-heading {
  font-size: 1.7em;
  font-weight: 700;
}

#sidebar ul li {
  padding: 10px;
  font-size: 1.1em;
  /* display: block; */
}
.sidelink-val {
  text-align: left;
}
.side-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}

.side-links:hover .arrow {
  animation: moveWithVisibility 1s;
}
.side-links .arrow {
  visibility: visible;
}
.side-links:hover .sidelink-val {
  animation: move 1s;
}
.arrow {
  visibility: hidden;
  opacity: 0;
}
@keyframes move {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(20px);
  }
}
@keyframes moveWithVisibility {
  from {
    transform: translateX(0px);
    visibility: hidden;
    opacity: 0;
  }

  to {
    transform: translateX(20px);
    visibility: visible;
    opacity: 1;
  }
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  min-width: auto;
  /* padding: 20px; */
  min-height: 91.5vh;
  /* transition: all 0.3s; */
  /* margin-top: 10vh; */
}
#upper-ourfirm-div {
  height: 40vh;
  background-color: #f7ac1d;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#ourfirm-heading {
  font-size: xxx-large;
  font-weight: 600;
  color: white;
}
.toggle-btn {
  position: absolute;
  top: 3%;
  left: 1%;
  padding: 6px;
  padding-bottom: 0%;
  border-radius: 5px;
}
#ourfirm-routes {
  /* padding:20px; */
  min-height: fit-content;
}
#ourfirm-routes-content {
  padding: 2% 10%;
  padding-bottom: 0%;
}
.ourfirm-sub-content-p {
  font-size: 20px;
  text-align: justify;
  padding-bottom: 2%;
}
.ourfirm-subheading {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 2.5%;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media only screen and (max-width: 768px) {
  #sidebar {
    max-width: 175px;
    min-width: 175px;
  }

  #sidebarCollapse span {
    display: block;
  }

  .toggle-btn {
    left: 5%;
  }
  #upper-ourfirm-div {
    height: 30vh;
  }

  #ourfirm-heading {
    font-size: x-large;
  }

  .ourfirm-sub-content-p {
    font-size: 16px;
    text-align: justify;
    padding-bottom: 2%;
  }

  .ourfirm-subheading {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 5%;
  }
}
