#sidebar {
  position: absolute;
  width: 250px;
  /* max-width: 250px; */
  height:100%;
  background: #474747;
  color: #fff;
  transition: all 0.8s;
  /* margin-top: 9vh; */
  /* padding-top:30px; */
  z-index: 10;
}

#sidebar.active {
  margin-left: 0px;
}

#sidebar .sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s;
  width: 250px;
  padding: 20px;
  background: #474747;
  font-size: 1.7em;
  font-weight: 700;
  white-space: nowrap;
}

#sidebar ul.components {
  transition: all 0.8s;
  width: 250px;
  padding: 20px 0;
}

#sidebar ul li {
  padding: 10px;
  font-size: 1.1em;
  white-space: nowrap;
  /* display: block; */
}
.sidelink-val {
  text-align: left;
}
.side-links {
  transition: all 0.8s;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 41px;
}

.side-links:hover .arrow {
  animation: move 1s;
}
.side-links:hover .sidelink-val {
  animation: move 1s;
}
.arrow {
  display: block;
  /* opacity: 0; */
}
@keyframes move {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(15px);
  }
}
@keyframes moveWithVisibility {
  from {
    transform: translateX(0px);
    visibility: hidden;
    opacity: 0;
  }

  to {
    transform: translateX(15px);
    visibility: visible;
    opacity: 1;
  }
}
@media only screen and (max-width: 768px) {
  .side-links{
    padding-left: 41px;
  }

  .toggle-btn {
    left: 5%;
  }
}