#upper-people-div {
    width: 100vw;
    position: relative;
    height: fit-content;
    text-align: center;
    background-color: #F7AC1D;
    z-index: 2;
    display: flex;
        justify-content: center;
        align-items: center;
    
}
.person-image{
    transform: scale(1.5,1.5);
}
#people-heading {
    position: absolute;
    font-size: 4.25rem;
    font-weight: 600;
    color: white;
}

.people-main-content{
    padding: 5%;
    display: flex;
        align-items: center;
        justify-content: center;
}

